@import "../../styles/colors";

.select {
  &__btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $auxiliaryPrimary;
    border-radius: 0;
    border: 1px solid $auxiliaryThird;
    border-bottom-width: 2px;
    outline: none;
    cursor: pointer;

    &:hover {
      border-bottom-color: $accentPrimary;
    }

    &--active {
      border-bottom-color: $primary;
    }
  }

  &__option-list {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 5;

    max-height: 250px;
    overflow-y: scroll;

    border: 1px solid $auxiliaryThird;
    border-top: none;
    background-color: $auxiliaryPrimary;
  }

  &__option-btn {
    width: 100%;
    justify-content: flex-start;
  }

  &__icon {
    position: absolute;
    top: 15px;
    right: 10px;
  }
}
