@import "../../styles/colors";

.form {
  &__row {
    display: flex;
    margin-bottom: 45px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    flex-grow: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__select {
    margin-right: 20px;
  }

  &__submit,
  &__select,
  &__color {
    width: calc((100% - 40px) / 3);
  }

  &__status {
    margin-right: 0;
  }

  &__radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__radio {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__color {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
  }

  &__label {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 0.8rem;
    color: $third;
  }
}
