@import "./colors";

.table {
  width: "100%";

  &__header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $accentPrimary;
  }

  &__row {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    width: 47%;
  }

  &__year {
    width: 7%;
  }

  &__color {
    width: 6%;
  }

  &__status {
    width: 13%;
  }

  &__price {
    width: 12%;
  }

  &__price {
    width: 12%;
  }

  &__control {
    width: 11%;
  }

  &__title {
    font-family: "Roboto-Medium";
    color: $auxiliaryPrimary;
  }

  &__list {
    margin: 0;
  }

  &__item {
    padding: 25px 15px;
    border: 1px solid $auxiliaryThird;
    border-top: none;
    background-color: $auxiliarySecondary;
  }

  &__text {
    margin: 0;
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $secondary;

    &--light {
      color: $third;
    }
  }

  &__marker {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $secondary;

    &--white {
      width: 19px;
      height: 19px;
      border-radius: 100%;
      background-color: $primary;
      border: 1px solid $auxiliaryThird;
    }

    &--black {
      background-color: $primary;
    }

    &--red {
      background-color: $accentPrimary;
    }

    &--black {
      background-color: $accentSecondary;
    }
  }
}
