@import "../../styles/colors";

.footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary;

  &__text {
    margin: 0;
    font-family: "Roboto-Light";
    font-size: 0.7333333333333333rem;
    line-height: 1.5;
    color: $auxiliaryPrimary;
  }
}
