@import "./styles/variables";
@import "./styles/list";
@import "./styles/title";
@import "./styles/buttons";
@import "./styles/table";
@import "./styles/input";

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./assets/Roboto-Medium.ttf");
}

.container {
  max-width: 960px;
  width: 100%;
}

html {
  font-size: $font-main-sz;
  font-family: "Roboto-Regular";
}

body {
  margin: 0;
  font-family: "Roboto-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto-Regular";
}
