@import "./styles/variables";
@import "./styles/list";
@import "./styles/title";
@import "./styles/buttons";
@import "./styles/table";
@import "./styles/input";

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

.container {
  max-width: 960px;
  width: 100%;
}

html {
  font-size: $font-main-sz;
  font-family: "Roboto-Regular";
}

body {
  margin: 0;
  font-family: "Roboto-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto-Regular";
}

body {
  scrollbar-highlight-color: $third;
  scrollbar-track-color: $auxiliaryPrimary;
  scrollbar-arrow-color: $third;
  scrollbar-shadow-color: $third;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $accentPrimary;
}
